{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <button type="button" class="button fa fa-bars" data-toggle="right-off-canvas-menu"><span class="show-for-sr">Menu</span></button>
  <a class="y-icons y-yale y-univ" href="http://www.yale.edu/"><span class="show-for-sr">Yale University</span></a>
  {{ content }}
</div>
