li.orbit-slide {
  max-height: 525px;

  .paragraph--type--yale-carousel-image {

    a {
      font-family: $serif;
      color: white;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      text-decoration: none;
    }

    .field-name-field-yale-carousel-title {
      -ms-font-feature-settings: "liga" 1;
      font-feature-settings: "liga" 1;
      font-size: 3.056em;
      line-height: 1.125;
      margin-left: 10%;
      position: absolute;
      z-index: 15;
      bottom: 1.5em;
      color: white;
    }

    .field-name-field-yale-carousel-blurb {
      font-size: 1.222em;
      word-spacing: 0.1em;
      margin-left: 10%;
      z-index: 15;
      position: absolute;
      bottom: 0.8em;
    }

  }
}
