{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    {% if page.left_off_canvas %}
    <aside id="left-off-canvas-menu" class="off-canvas left-off-canvas-menu position-left" role="complementary" data-off-canvas>
      {{ page.left_off_canvas }}
    </aside>
    {% endif %}

    {% if page.right_off_canvas %}
    <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" role="complementary" data-off-canvas data-position="right">
      {{ page.right_off_canvas }}
    </aside>
    {% endif %}

    <div class="off-canvas-content" data-off-canvas-content>
      <header class="region__meta-header" aria-label="{{ 'Site Info'|t }}">
        <div class="row">
          <div class="large-12 columns">
            {{ page.meta_header }}
          </div>
        </div>
      </header>

      <header class="row" role="banner" aria-label="{{ 'Site Header'|t }}">
        {% if linked_site_name or linked_logo %}
          {# TODO: Convert to use branding block instead: https://www.drupal.org/node/2651666 #}
          <div class="large-2 columns">
            {% if linked_logo %}
              {{ linked_logo }}
            {% endif %}
          </div>
          <div class="left large-10 columns end">
            {% if is_front %}
              <h1 id="site-name">{{ linked_site_name }}</h1>
            {% else %}
              <div id="site-name">{{ linked_site_name }}</div>
            {% endif %}
          </div>
        {% endif %}
      </header>

      {% if page.header %}
      <div class="row" role="navigation" aria-label="{{ 'Site Menu'|t }}">
        <div class="large-12 columns">
          {{ page.header }}
        </div>
      </div>
      {% endif %}
      {% if page.header_first %}
        <div role="complementary">
          {{ page.header_first }}
        </div>
      {% endif %}

      {% if show_account_info or site_slogan or show_account_info%}
      <div class="row">
        {% if show_account_info %}
          <div class="{{ site_slogan ? 'large-6' : 'large-4 columns large-offset-8' }} columns hide-for-small">
            <p>
              {% if logged_in %}
                <a href="{{ path('user.page') }}">{{ 'My Account'|t }}</a>
                <a href="{{ path('user.logout') }}">{{ 'Logout'|t }}</a>
              {% else %}
                <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
                <a href="{{ path('user.register') }}">{{ 'Sign Up'|t }}</a>
              {% endif %}
            </p>
          </div>
        {% endif %}
        {% if site_slogan %}
          <div class="large-6 columns hide-for-small">
            {{ site_slogan }}
          </div>
        {% endif %}
        {% if show_account_info %}
          <div class="show-for-small" aria-label="{{ 'Account Information'|t }}">>
            <div class="six mobile-two columns">
              <p>
                <a href="{{ path('user.login') }}" class="radius button">{{ 'Login'|t }}</a>
              </p>
            </div>
            <div class="six mobile-two columns">
              <p>
                <a href="{{ path('user.register') }}" class="radius success button">{{ 'Sign Up'|t }}</a>
              </p>
            </div>
          </div>
        {% endif %}
      </div>
      {% endif %}

      {% if messages and not zurb_foundation_messages_modal %}
        <div class="l-messages row" role="alert" aria-label="{{ 'Messages'|t }}">
          <div class="large-12 columns">
            {{ messages }}
          </div>
        </div>
      {% endif %}

      {% if page.help %}
        <div class="l-help row" role="alert" aria-label="{{ 'Help'|t }}">
          <div class="large-12 columns">
            {{ page.help }}
          </div>
        </div>
      {% endif %}

      <div class="row">
        <main id="main" class="{{ main_grid }} columns" role="main" aria-label="{{ 'Page Content'|t }}">
          {% if page.highlighted %}
            {% spaceless %}
              {{ page.highlighted }}
            {% endspaceless %}
          {% endif %}
          <a id="main-content" tabindex="-1"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          <section>
            {{ page.content }}
          </section>
        </main>
        {% if page.sidebar_first %}
          <aside id="sidebar-first" class="{{ sidebar_first_grid }} columns sidebar" role="complementary" aria-label="{{ 'Sidebar'|t }}">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
        {% if page.sidebar_second %}
          <aside id="sidebar-second" class="{{ sidebar_sec_grid }} columns sidebar" role="complementary" aria-label="{{ 'Secondary Sidebar'|t }}">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>

        {% if (page.postscript_first or page.postscript_second or page.postscript_third) %}
          <div class="row">
            <div id="postscript-first" class="large-4 columns">
                {% if page.postscript_first %}
                    {{ page.postscript_first }}
                {% endif %}
            </div>
            <div id="postscript-second" class="large-4 columns">
                {% if page.postscript_second %}
                    {{ page.postscript_second }}
                {% endif %}
            </div>
            <div id="postscript-third" class="large-4 columns">
                {% if page.postscript_third %}
                    {{ page.postscript_third }}
                {% endif %}
            </div>
          </div>
        {% endif %}

      <footer class="bottom-bar panel" role="contentinfo" aria-label="{{ 'Site Footer'|t }}">
        <div class="row">
          <div id="footer-first" class="large-2 columns">
            <a href="http://www.yale.edu" class="y-icons y-yale y-mark"><span class="show-for-sr">Yale</span></a>
            {{ page.footer_first }}
          </div>
          <div id="footer-middle" class="large-6 columns">
            <div class="copyright">&copy; {{ "now"|date('Y') }} {{ site_name }} · {{ 'All rights reserved'|t }}</div>
            {{ page.footer_middle }}
          </div>
          <div id="footer-last" class="large-4 columns">
            {{ page.footer_last }}
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
