// Calendar view.

.section-calendar {

  .block-pagetitle {
    margin-bottom: 40px;

    h1 {
      font-size: 1.5625rem;
    }
  }

  .views-row {
    border-top: 1px solid $gray-lt;
    clear: both;

    .views-field-field-event-date {
      background-color: $gray-shade;
      color: #114275;
      padding: 19px 17px;
      text-transform: uppercase;
      clear: both;
    }

    span.views-field {
      padding: 12px 0;
      display: block;
      float: left;

      &.views-field-field-event-date-1 {
        width: 90px;
        padding-right: 10px;
        border-right: 1px solid $gray-lt;
        text-transform: lowercase;
      }

      &.views-field-title {
        padding-left: 10px;

        a {
          text-decoration: underline;
        }
      }
    }
  }

}


// Galleries view.

.section-galleries {

  .views-row {
    padding: 1.5em 0;
    border-bottom: 1px solid #dddddd;

    &:after {
      content: ".";
      display: block;
      clear: both;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }

    h3 {
      font-family: $sans;
      font-size: 1.222em;
      font-weight: normal;
      line-height: 1.35;
      color: $carbon;
      margin-top: 0;
      margin-bottom: 0;
      -webkit-font-smoothing: subpixel-antialiased;

      a {
        color: $carbon;

        &:hover {
          color: $blue-med;
        }
      }
    }

    .field-name-field-yale-carousel-image {
      float: left;
      margin: 2px 4.132% 8px 0;
    }

    .views-field-created {
      font-size: 0.889em;
      font-style: italic;
      margin-bottom: 0.75em;
      margin-top: 0.2em;
    }

    .views-field-view-node a {
      text-decoration: underline;
    }
  }

}


// People view.

.section-people {
  table {
    caption {
      text-align: left;

      a {
        text-decoration: underline;
        color: $carbon;
      }
    }

    td.views-field-field-person-picture {
      width: 150px;
      border-right: 1px solid $gray-lt;
    }

    td.views-field-view-node {
      * {
        float: left;
      }

      span.separator {
        clear: both;
        display: block;
        float: none;
      }

      p.address {
        margin-bottom: 0;

        br {
          display: none;
        }

        span {
          display: inline;
          float: left;

          &:after {
            content: ",";
            padding-right: 3px;
          }

          &.country:after {
            display: none;
          }
        } 
      }
    } 
  }
}
