// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
// h1, h2, h3,
// h4, h5, h6 {}

// Anchors
//-----------------------------------------------------------------------------

a,
a span,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-bottom 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
}

a,
a span,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-bottom 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}

// Search Page Results
//-----------------------------------------------------------------------------
.search-page-form {
  .input-button {
    margin-top: 1.56em;
    margin-left: 1em;
  }
}

.search-page-results {
  list-style: none;
  margin-left: 0;
}
